$pink-lightest: #DF88BB;
$pink-lighter: #BB4E8E;
$pink: #9B276B;
$pink-darker: #6B0A43;
$pink-darkest: #2E001B;

$orange-lightest: #FFB49C;
$orange-lighter: #EC8362;
$orange: #C35431;
$orange-darker: #872A0C;
$orange-darkest: #3A0E00;

$purple-lightest: #A584CD;
$purple-lighter: #714AA0;
$purple: #522984;
$purple-darker: #320F5B;
$purple-darkest: #130227;

$grey-light: #E3E3E3;
$grey: #878787;
$grey-dark: #424242;
